<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>== Monitoreo de GPS ==</title>
</head>
<body>
    <h1>Hola desde index.ejs</h1>
</body>
</html>